@model TestApp.Library.DAL.Models.CustomFiles
    <<form asp-action="Delete">
    <input type="hidden" asp-for="customfile_id" />
    <dl>
        <dt>Id:</dt>
        <dd>@Model.customfile_id</dd>
        <dt>Descripcion:</dt>
        <dd>@Model.description</dd>
        <dt>Path:</dt>
        <dd>@Model.path</dd>



    </dl>

    <input type="submit" class="btn btn-danger" value="Delete" />
</form>
    <a asp-action="Index">Back to list</a>
